<%= form_with(model: @team, local: true, url: invite_mail_team_path ) do |form| %>
<p>チームに招待したい人のメールアドレス入力してください</p>

  <div class="team_name">
    <%= form.label :email %>
    <input type="text_field" name="email" id="email" required placeholder='emailアドレスを入力'>
  </div>

  <div class="actions">
    <%= form.hidden_field :owner_id, value: current_user.id %>
    <%= form.submit "招待メールを送信する"%>
  </div>
<% end %>
