<div class="container_position">
  <div class="container">
    <div class="contents">
      <br><br><br>
      <h3>ABOUT : share work PTA</h3>
      　<p>このサービスは一つの小学校のPTAで行っている活動内容を入力しチーム内（部毎）で共有することが出来ます。
        　　<br><br>
             現在のPTA活動の進捗はもちろん、係の仕事の負担が大きい人の情報を可視化することによって<br>
             負担の大きい方をおもいやり、助け合えるようなアプリケーションです。
           <br><br>
             今回は個人サイズなアプリケーションになっていますが、今後どの地域の小学校、中学校でも
             使用できるようなものも開発したいと思っています。

             アプリケーションの使用をご希望の方は大変お手数ですが下記emailアドレスに<br>
             件名:share work PTA とお書き頂き送信してください。<br></p>
           　<p><a href="ooreicookoo@gmail.com">ooreicookoo@gmail.com</a>
           <br><br>
             管理者より、招待メールとログイン情報をお送りします。<br>
       </p>
    </div>
  </div>
</div>
