<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @team.name %>へようこそ。</h1>

      このサイトにログインするには、<%= @url %>をクリックしてください。

    <p>ご入会ありがとうございます。どうぞお楽しみくださいませ。</p>
  </body>
</html>
