PTAアプリ・シェアータスクのチーム参加への招待です</h1>
----------------------------------------------
この<% @team.name %>に参加するには、

<%= link_to 'チームメンバーになる', new_team_assign_url(team_id: @team.id) %> をクリックし、
チームに参加してください。宜しくお願い致します。
