<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>■ PTAアプリ・シェアータスクのチーム参加への招待です。</h1>

      <strong>このチームに参加するには、２ステップございます。お手数ですが、手続きを完了して頂きますようお願い致します。</strong>
        <br>
         <h2>■ ステップ1 ■ 下記URLよりログイン</h2>
        <br>
          <%= link_to 'ユーザーログイン', new_user_session_url(team_id: @team.id) %> をクリックし、
        <br>
        <br>
        <br>
        <br>
        <h1>【注意：必ずステップ１を済ませてからお進み下さい】</h1>
        <h2>■ ステップ2 ■ 次に下記ののURLをクリックし、</h2>
        <br>
        <%= link_to 'チームメンバーになる', new_team_assign_url(team_id: @team.id) %> をクリックし、
        <br>
        チームに参加してください。
        <br>
        宜しくお願い致します。
  </body>
</html>
