<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>■ PTAアプリ・シェアータスクのチーム参加への招待です。</h1>

      <p>このチームに参加するには、２ステップございます。お手数ですが、手続きを完了して頂きますようお願い致します。
        <br>
          ■ 1ステップ ■ 下記URLよりログイン
        <br>
          <%= link_to 'ユーザーログイン', new_user_session_url(team_id: @team.id) %> をクリックし、
        <br>
      　次に下記ののURLをクリックし、
        <br>
          <%= link_to 'チームメンバーになる', new_team_assign_url(team_id: @team.id) %> をクリックし、
        <br>
        チームに参加してください。
        <br>
        宜しくお願い致します。
      </p>
  </body>
</html>
